/* Global Styles */

html {
    background-color: #2c2c2c;
    color: #fafafa;
    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

h1.centered {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 5px;
}

h3 {
    font-size: 20px;
    color: #fafafa60;
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 500;
}

ul li {
    font-size: 16px;
    font-weight: 500;
}

a:link {
    color: #fafafa;
    text-decoration: none;
}

section {
    width: 90vw;
}

.logo h1 {
    font-size: 24px !important;
    font-weight: 900;
    text-transform: uppercase;
}

button {
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 20px;
    background-color: transparent;
    color: #fafafa;
    border: 3px solid #fafafa;
    border-radius: 30px;
}

button.small-icon {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
}

.social-icons-wrapper {
    display: flex;
    flex-direction: row;
}

.social-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 15px;
    width: 15px;
}

.see-projects-button {
    margin-right: 10px;
}

.social-icons-wrapper button {
    margin-right: 10px;
}

/* Nav Global */

.topnav a {
    text-transform: uppercase;
}

.icon {
    height: 25px;
    width: 25px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #fafafa;
    border-radius: 50%;
}

.nav-icon-bar {
    width: 10px;
    height: 3px;
    background-color: #fafafa;
    border-radius: 50px;
}

.nav-icon-bar.middle {
    width: 20px !important;
}

#top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* About */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

#about-text {
    margin-bottom: 30px;
}

/* Projects */

#projects {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

#project-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: #5A9FD4;
    height: 80vw;
    width: 80vh;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    overflow: hidden;
}

#text-mob-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-links {
    display: flex;
    flex-direction: column;
}

.project-links.desktop {
    display: hidden;
}

.project-text h1 {
    font-weight: 900;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.40);
}

.project-text h2 {
    font-weight: 900;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.40);
}

.project-text p {
    width: 90%;
    margin-top: 0;
}

.small-icon:first-child {
    margin-bottom: 5px;
}

.project-image {
    display: flex;
}

.project-image img {
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

/* Professional Experience Section */

.experience-instance {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid #fafafa;
    border-radius: 30px;
}

.experience-instance p {
    margin-bottom: 5px;
}

.experience-instance ul {
    padding-left: 10px;
}

/* Transferrable Skills */

#transferrable-skills {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#transferrable-skills h1 {
    margin-bottom: 10px;
}

#transferrable-skills ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Footer */

#footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Extra small devices (phones, 768px and down) */
@media screen and (max-width: 768px) {

    /* Global */

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }
    
    p {
        font-size: 14px;
    }

    ul li {
        font-size: 14px;
    }

    /* About Section */

    .owl-carousel div img {
        height: 80px;
    }

    .project-image img {
        height: auto;
        width: 80vw;
    }

    /* Experience Section */

    .experience-instance {
        padding: 5%;
        height: 290px;
        width: 290px;
    }

    /* Transferrable Skills */

    #transferrable-skills {
        height: 30vh !important;
    }
    

}

/* Medium devices (landscape tablets, max-width 992px and down) */
@media only screen and (max-width: 992px) {

    /* Global */

    .topnav a:not(:last-child) {
        display: none;
    }

    #topnav-button {
        display: none;
    }

    /* Header Section */

    .header-text-div {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header-text {
        width: 90%;
    }

    .header-image:not(.mobile) {
        display: none;
    }

    .header-image.mobile {
        justify-self: left;
        margin-left: -10%;
    }

    .header-image.mobile img {
        height: 50vh;
    }

    /* Project Section */

    #projects {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .project-text h2 {
        display: none;
    }
    
    .project-text ul {
        display: none;
    }
    
    .project-text p:last-child {
        display: none;
    }

    .project-links.mobile {
        display: flex;
    }

    .project-links.desktop {
        display: none;
    }

    /* Transferrable Skills */

    #transferrable-skills {
        height: 20vh;
    }

    /* footer */

    #footer {
        height: 15vh;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* Global */

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }

    .primary-button {
        font-size: 12px;
    }

    /* Header Section */

    .header-text-div {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .header-text {
        width: 80%;
    }

    #about-text h1 {
        font-size: 30px;
    }

    #about-text p {
        font-size: 16px;
    }

    .header-image.mobile img {
        height: 60vh;
    }

    /* About Section */

    #about {
        height: 40vh;
    }

    .owl-carousel div img {
        height: 80px;
    }

    /* Projects Section */

    .project {
        padding: 30px;
    }
    
    .project-text p {
        font-size: 18px;
    }

    .project-image img {
        height: auto;
        width: 85vw;
        margin-bottom: -20px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Global */

    .topnav a:last-child {
        display: none;
    }

    .topnav a {
        margin: 0px 10px;
        font-weight: 600;
        font-size: 12px;
    }

    /* Header Section */

    #header {
        display: flex;
        flex-direction: row;
        height: 80vh;
    }

    .header-text-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .header-text {
        width: 70%;
    }

    .header-text h1 {
        margin-bottom: 0 !important;
    }

    .header-text p {
        margin-bottom: 20px !important;
    }

    .header-image-wrapper {
        display: flex;
        justify-content: center;
        width: 45vw;
        height: 100%;
    }

    .header-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desktop-header-image {
        height: 65vh;
    }

    #desktop-bitmoji {
        position: relative;
        z-index: 1;
    }

    #bubble {
        position: absolute;
    }

    .header-image.mobile {
        display: none;
    }

    /* About Section */

    .carousel-wrapper {
        width: 60%;
    }

    /* Project Section */

    #projects {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .project-links.mobile {
        display: none;
    }

    .project-links.desktop {
        display: flex;
        margin-left: auto;
    }

    .project {
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: 100%;
        padding: 30px;
    }

    .project-text {
        width: 35vw;
    }

    .project-image img {
        height: auto;
        width: 45vw;
        margin-bottom: -120px;
    }

}